body{
    background-image: url("SPACE.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: -3.5%
}
p{
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    margin: 3%;
}
a{
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    margin: 3%;
    text-decoration: none;
}

.center{
    text-align: center;
}


/* HTML tag */
header {
    color: white;
    background-color: black;
}


h5 {
    text-align: center;
}

/* Misc */
#status {}

#goto {
    width: 250px;
    text-align: right;
}

#card {
    width: 80%;
    margin: 20px auto;
    float: none;
    margin-bottom: 10px;
    opacity: .8;
}

#card-date {
    text-align: right;
}

#spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%;
    /* or: left: 50%;
    margin-top: -..px;
    half of the elements height
    margin-right: -..px;
    half of the elements width */
}

.spinner-border {
    margin: 0 auto;
}


#reservation {}

/* Buttons */
#btn-reservation {}

#btn-prev {}

#btn-next {}

#btn-card {
    float: right;
}

/* Classes */
.connecting {
    -webkit-animation-name: blinker;
    animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
    animation-duration: 1s;
}

.meadia {
    width: 600px;
    height: 500px;
}

.tiny {
    font-size: 12px;
}

#top-notes {
    text-align: left;
    color: white;
    font-size: 14pt;
    height: 50px;
}

/* Planet */
#planet {}

#planet a {
    text-align: center;
    color: white;
}

#planet-name {
    color: white;
}

#planet-mass {
    text-align: right;
}

#planet-type {
    text-align: right;
}

#planet-diameter {
    text-align: right;
}

#planet-density {
    text-align: right;
}

#planet-gravity {
    text-align: right;
}

#planet-hoursperday {
    text-align: right;
}

#planet-distance {
    text-align: right;
}

#planet-diameter {
    text-align: right;
}

#planet-meantemp {
    text-align: right;
}

#planet-moons {
    text-align: right;
}

#planet-data {
    color: white;
}

.planet {
    text-align: center;
    color: white;
}

.planet-image {
    width: 50px;
    height: 50px;

}

.planet-image:hover {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}

/* Spaceship */
#spaceship {
    color: white;
}

#spaceship-data {
    color: white;
    display: none;
}

#spaceship a {
    text-align: center;
    color: white;
}

#spaceship-name {
    color: white;
}

#spaceship-max-passengers {
    text-align: right;
}

#spaceship-max-speed {
    text-align: right;
}

#spaceship-max-load {
    text-align: right;
}

#spaceship-builddate {
    text-align: right;
}

.spaceship {
    text-align: center;
    color: white;
}

.spaceship-image {
    width: 50px;
    height: 50px;

}

.spaceship-image:hover {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}


.fixed-header tbody {
    display: block;
    overflow: auto;
    height: 200px;
    width: 100%;
}

.fixed_header thead tr {
    display: block;
}

#iss {
    color: white;
}

#iss-data {

    display: none;
}

#iss-image {
    width: 300px;
    text-align: center;
}


#iss-latitude {
    text-align: right;
}

#iss-longitude {
    text-align: right;
}

#iss-altitude {
    text-align: right;
}

#iss-velocity {
    text-align: right;
}

#iss-visibility {
    text-align: right;
}

#iss-footprint {
    text-align: right;
}

#iss-daynum {
    text-align: right;
}

#iss-solar-lon {
    text-align: right;
}

#iss-solar-lat {
    text-align: right;
}

#iss-units {
    text-align: right;
}

#headline {
    color: white;
}

#messages {
    color: black;
    min-height: 200px;
}

.socket-msg {}

.socket-user {}

.panel-title {
    text-align: left;
}

.socket-image {
    width: 100px;
    vertical-align: middle;
    margin: 5px;
}

.socket-link {}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0d6efd;
}

.input-group-append {
    cursor: pointer;
}

.modal-dialog {
    max-width: 700px;
    /* New width for default modal */
}
