<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpaceTravel</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">


<link rel="stylesheet" href="../static/style.css">
<body class="body">

<div class="container">
<nav>
    <ul>
        <a href="">SpaceX Launches</a>
        <a href="">Apod</a>
        <a href="">Reservation</a>
    </ul>
</nav>
</div>
<h2> The Space Portal </h2>

<div class="rightbox">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem et tortor consequat id porta. Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Donec enim diam vulputate ut pharetra sit amet. Eget arcu dictum varius duis at consectetur lorem donec massa. Lacus vel facilisis volutpat est velit egestas dui. Suspendisse potenti nullam ac tortor vitae purus. Adipiscing elit pellentesque habitant morbi. In massa tempor nec feugiat nisl. Metus dictum at tempor commodo ullamcorper. Fringilla urna porttitor rhoncus dolor. Ipsum dolor sit amet consectetur adipiscing. Nibh praesent tristique magna sit.
    Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Donec adipiscing tristique risus nec. Egestas integer eget aliquet nibh praesent. Velit dignissim sodales ut eu sem integer vitae. Auctor eu augue ut lectus arcu bibendum at varius. Magna fringilla urna porttitor rhoncus dolor purus non enim. Fringilla est ullamcorper eget nulla. Sem integer vitae justo eget magna fermentum. Lobortis elementum nibh tellus molestie nunc. Fusce id velit ut tortor pretium viverra suspendisse. Tempus urna et pharetra pharetra. Vivamus arcu felis bibendum ut tristique et.
    </p>

</div>


</body>
</html>